

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-signin" }) do |f| %>

<h2 class="text-center">Forgot my password</h2>
  <%= f.error_notification %>

  
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
  

 
    <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary btn-block" %>
 
<% end %>

<%= render "devise/shared/links" %>
