<div class="jumbotron">
	<h1>Welcome to our store</h1>
	<p>This is online Digital Books Store</p>
	<%= link_to "Books", books_path, class: "btn btn-primary" %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>

<div class="row">
	<%= render @books %> 
</div>


