<div class="col-md-3">
    <div class="thumbnail">
    <%= link_to book_path(book) do %>
       <%= image_tag book.image.url(:original), class: "img-responsive" %>
      <% end %>
      <div class="caption">
        <p><strong><%= link_to book.name, book_path(book) %></strong></p>
        <p>$<%= book.price.to_f / 100 %></p>
    </div>
  </div>
</div>